<!DOCTYPE html>
<html ng-app="RestaurantMap">
  <head>
    <meta charset="utf-8">
    <title>Restaurant Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Restaurant map</h1>
        <div class="col-md-12" ng-controller="NavigationCtrl">
          <a ui-sref="restaurants" class="col-md-2">All restaurants</a>

            <div ng-if="isLoggedIn()">
              <loggedinnav></loggedinnav>
            </div>
            <div ng-if="!isLoggedIn()">
              <a ui-sref="login" class="col-md-2">Login</a>
            </div>

        </div>
        </div>

        <div ng-controller="AlertCtrl">
          <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
        </div>

        <div ui-view></div>

        
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script type="text/javascript" src="Scripts/ui-bootstrap-tpls-1.2.4.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyBv9Br8Icb4LEeBi4gCxavpAU1-LXsDErE"></script>
    <script src="Scripts/ng-map.min.js"></script>
    <script src="app.js"></script>
    <script src="js/Services/Resources.js"></script>
    <script src="js/Services/RestaurantService.js"></script>
    <script src="js/Services/TagService.js"></script>
    <script src="js/Services/LoginService.js"></script>
    <script src="js/Services/AlertService.js"></script>
    <script src="js/Directives/LoggedInNavDirective.js"></script>
    <script src="js/Controllers/NavigationCtrl.js"></script>
    <script src="js/Controllers/AlertCtrl.js"></script>
    <script src="js/Controllers/MapCtrl.js"></script>
    <script src="js/Controllers/RestaurantCtrl.js"></script>
    <script src="js/Controllers/AddRestaurantCtrl.js"></script>
    <script src="js/Controllers/TagCtrl.js"></script>
    <script src="js/Controllers/LoginCtrl.js"></script>
    <script src="js/Controllers/LogoutCtrl.js"></script>
    <script src="js/Controllers/EditCreatorRestaurantsCtrl.js"></script>
  </body>
</html>
