
.tagsList{
  margin-top: 7px;

}
.description{
  font-size: 18px;
}
.EditModal{
  background-color: #FBFBFB;
  padding: 30px;
  box-shadow: 9px 7px 24px -8px rgba(0,0,0,0.75);
}
.navigation{
  text-align: center;
}
.tooHighBtn{
  margin-top: 24px;
}
