<form name="restaurantForm" class="col-md-12" required >
  <h2>Edit restaurant</h2>
   <div class="form-group">
     <label>Name:</label>
     <input type="text" class="form-control" ng-model="restaurant.name">
   </div>
   <div class="form-group">
     <label>Description:</label>
     <input class="form-control" ng-model="restaurant.description">
   </div>
   <div class="form-group" ng-repeat="loc in restaurant.locations">
     <label>Location:</label>
     <input class="form-control" ng-model="loc.address_city" placeholder="Adress, city">
     <button class="btn btn-info " ng-click="addLocationInput()">Add location</button>
   </div>

   <div class="col-md-4">
     <label>Choose tags:</label>
     <select class="form-control" ng-model="restaurant.selectTag" ng-options="t.name for t in tags" ng-change="addTag()"></select>
   </div>
   <div class="col-md-8">
     <label>Added tags:</label>
     <div ng-repeat="tag in restaurant.tags">
       <div class="col-md-2">
         <label>{{tag.name}}</label> <a ng-click="removeTag($index)" class="glyphicon glyphicon-remove"/>
       </div>
     </div>
   </div>

   <div class="form-group col-md-12">
     <label>Stars:</label>
     <uib-rating ng-model="restaurant.stars" max="5" read-only="isReadonly" on-hover="hoveringOver(value)"
      on-leave="overStar = null" aria-labelledby="default-rating"></uib-rating>
   </div>
   <div class="col-md-12">
    <button type="submit" class="btn btn-info" ng-click="editRestaurantSubmit()">Edit</button>
   </div>
</form>
