
<ng-map default-style="true" center="55.5996055, 13.0083493" zoom="4">

  <div ng-repeat="rest in restaurants">

    <info-window id="{{rest.id}}" max-width="400">
      <div ng-non-bindable>
        <h4 id="firstHeading" class="firstHeading">{{rest.name}}</h4>
        <div id="bodyContent">
          {{rest.description}}
        </div>
      </div>
    </info-window>

      <marker ng-repeat="loc in rest.locations"
        position="{{loc.latitude}}, {{loc.longitude}}"
        on-click="map.showInfoWindow(event, {{rest.id}})"
        id="{{rest.id}}">
      </marker>

  </div>
</ng-map>
