<div ng-controller="MapCtrl as vm">

<ng-map id="map" default-style="true" center="56.9996055, 13.0083493" zoom="6">
  <div ng-repeat="rest in restaurants">
      <marker ng-repeat="loc in rest.locations"
        position="{{loc.latitude}}, {{loc.longitude}}"
        on-click="vm.showInfoWindow(event, {{rest}}, {{loc.latitude}}, {{loc.longitude}})">
      </marker>
  </div>
  <info-window id="restInfo" max-width="200" position="{{vm.position.lat}} {{vm.position.lon}}">
    <div>
      <h4 id="firstHeading" class="firstHeading">{{vm.rest.name}}</h4>
      <div id="bodyContent">
          {{ vm.rest.description }}
      </div>
    </div>
  </info-window>
</ng-map>

</div>
