
<div class="col-md-12 page-header" >
  <div class="col-md-4">
    <label>Restaurant by tag</label>
    <select class="form-control" ng-model="select" ng-options="t.name for t in tag" ng-change="searchTag()"></select>
  </div>
  <div class="form-group col-md-4">
  </div>
  <div class="form-group col-md-4">
    <label>Search</label>
    <input type="text" class="form-control" ng-model="searchText">
    <button type="button" class="btn btn-info" ng-click="searchRestaurants()">Sök</button>
  </div>
</div>

<div class="col-md-6">
  <uib-accordion close-others="oneAtATime">
    <!--<a ui-sref="oneRestaurant({id: rest.id})">{{ rest.name }}</a>-->
    <uib-accordion-group ng-repeat="rest in restaurants" is-open="status.open">
        <uib-accordion-heading>
          {{ rest.name }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
        {{ rest.description }}
        {{ rest.locations[0].address_city }}
        {{ rest.locations[1].address_city }}
      </uib-accordion-group>
    </uib-accordion>
</div>

<div class="col-md-6">
  <div ng-include="'Templates/Map.html'" ></div>
</div>
