<p class="navbar-text navbar-right">
  Signed in as <bold><%=	 @user.name %></bold>
  <br>
  <%=	 @user.email %>
  <br>
  <%=  link_to "Logout", logout_path %>
</p>

<div class="page-header">
  <h1>inloggad och visar appar </h1>
  <%=  link_to "Add application", addApp_path %>
</div>


