<p class="navbar-text navbar-right">
  Signed in as <bold><%= logged_in_user.name %></bold>
  <br>
  <%= logged_in_user.email %>
  <br>
  <%=  link_to "Logout", session_path(logged_in_user.id), method: :delete, data: {no_turbolink: true} %>
</p>